<div class="banner">
    <h2>
        <a href="index.html">Home</a>
        <i class="fa fa-angle-right"></i>
        <span>Contact</span>
    </h2>
</div>
<div class="grid-form">
    <div class="grid-form1">
        <form [formGroup]="form" (ngSubmit)="submit()">
            <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>
            <button type="submit" class="btn btn-primary submit-button" [disabled]="!form.valid">Submit</button>
        </form>
    </div>
</div>